<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="vendor/autoload.php"
  cacheDirectory=".phpunit.cache"
  colors="true"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
>
  <php>
    <ini name="error_reporting" value="-1" />
  </php>
  <testsuites>
    <testsuite name="tests">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>./src/</directory>
    </include>
  </source>
</phpunit>
